 <div class="w-full ">
    <div class="flex justify-end mb-4">
        <z-button  zType="default" title="Create" (click)="redirectToCreate()">
            Incluir
        </z-button>
         <z-button  zType="default" title="Create" (click)="importExpenses()">
            Importar
        </z-button>
    </div>
      <div class="overflow-hidden rounded-md border">
        <table z-table zType="striped">
          <thead z-table-header>
            <tr z-table-row>
              <th z-table-head>Name</th>                           
              <th z-table-head class="w-16">Actions</th>
            </tr>
          </thead>
          <tbody z-table-body>
            @for (expense of expenses(); track expense._id) {
              <tr z-table-row>
                <td z-table-cell>
                    {{expense.description}}
                </td>
                <td z-table-cell>
                    {{expense.amount | currency:'EUR':'symbol':'1.2-2'}}
                </td>   
                 <td z-table-cell>
                    {{formatData( expense.date)}}
                </td>   
                  <td z-table-cell>
                    {{expense.category}}
                </td>                      
                <td z-table-cell>
                  <div class="flex items-center gap-2">
                    <z-button zType="default" zSize="default"  title="ID" (click)="redirectToEdit(expense._id)">
                      <lucide-angular
                        name="FilePenLineIcon"
                        class="my-icon"
                      ></lucide-angular>Edit
                    </z-button>
                    <z-button zType="destructive" zSize="default" (click)="delete(expense._id)" >
                      <lucide-angular name="Trash2Icon" class="my-icon"></lucide-angular> Delete
                    </z-button>
                  </div>
                </td>
              </tr>
            } @empty {
              <tr z-table-row>
                <td z-table-cell [attr.colspan]="4" class="h-24 text-center">No results.</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>