<div class="d-flex align-items-center justify-content-center mt-5">
  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 30rem">
    <div class="card-body">
      <h2 class="text-lg font-bold mb-4 text-cyan-500">Categoria de despesa</h2>
      <form (ngSubmit)="onsubmit()">
        <div class="form-group">
          <label for="description" class="block input-bordered"
            >Description</label
          >
          <input
            id="description"
            type="text"
            class="form-control"
            placeholder="description"
            [formControl]="description"
          />
        </div>
        @if(description.invalid && (description.dirty || description.touched)){
        <app-error-message>Preencha a descrição</app-error-message>
        }
        <button type="submit" class="btn btn-primary me-1 mt-2">Salvar</button>
        <button
          type="button"
          class="w-5/12 p-2 btn btn-secondary ml-3 mt-2"
          (click)="gotoList()"
        >
          Cancelar
        </button>
      </form>
    </div>
  </div>
</div>
