<div class="flex justify-center items-center bg-gray-100 pb-10 pt-5">
  <div class="max-w-md w-full p-8 bg-white rounded-lg shadow-md">
    <div class="mb-4 col-4">
      <label for="category" class="form-label">Ano</label>

      <select
        id="category"
        class="form-select"
        [formControl]="year"
        (change)="getChart()"
      >
        @for (reg of years; track $index) {
        <option value="{{ reg.year }}">{{ reg.year }}</option>
        }
      </select>
    </div>
  </div>
</div>

<div style="text-align: center" class="mt-10">
  @if(chartOptions && chartOptions.series){
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
  >
  </apx-chart>

  }
</div>
