<div class="page">
  <div class="sidebar">
    <div class="top-row ps-3 navbar navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="">Financeiro</a>
      </div>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div
      class="nav-scrollable"
      onclick="document.querySelector('.navbar-toggler').click()"
    >
      <nav class="flex-column">
        <div class="nav-item px-3">
          <a
            class="nav-link"
            routerLink="/menu/listExpenses"
            routerLinkActive="active"
          >
            Despesas
          </a>
        </div>

        <div class="nav-item px-3">
          <a
            class="nav-link"
            routerLink="/menu/listCategories"
            routerLinkActive="active"
          >
            Categorias
          </a>
        </div>

        <div class="nav-item px-3">
          <a
            class="nav-link"
            routerLink="/menu/chartByYear"
            routerLinkActive="active"
          >
            Gráfico por ano
          </a>
        </div>

        <div class="nav-item px-3">
          <a
            class="nav-link"
            routerLink="/menu/chartByCategory"
            routerLinkActive="active"
          >
            Gráfico por categoria
          </a>
        </div>
      </nav>
    </div>
  </div>

  <main>
    <article class="content px-4">
      <router-outlet></router-outlet>
    </article>
  </main>
</div>
