<div class="overflow-x-auto">
  <button class="btn btn-primary ml-4 mt-3" (click)="redirectToCreate()">
    Incluir
  </button>

  <table class="table table-zebra">
    <!-- head -->
    <thead>
      <tr>
        <th>Descrição</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (item of categories; track $index) {
      <tr>
        <th>{{ item.description }}</th>
        <td>
          <button class="btn btn-accent" (click)="redirectToEdit(item._id)">
            <lucide-angular
              name="FilePenLineIcon"
              class="my-icon"
            ></lucide-angular>
            Editar
          </button>
          <button class="btn btn-error ml-4" (click)="delete(item._id)">
            <lucide-angular name="Trash2Icon" class="my-icon"></lucide-angular>
            Exluir
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
