<div class="flex min-h-screen flex-col lg:flex-ro">
  <div class="flex flex-1 items-center justify-center bg-slate-600 p-4 sm:p-8">
    <div class="w-full max-w-md space-y-6 sm:space-y-8">
      <div class="text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Financeiro</h1>
       
      </div>

      <z-card class="p-4 sm:p-6 lg:p-8 shadow-xl shadow-black">
        <form [formGroup]="loginForm" class="space-y-4 sm:space-y-6" (ngSubmit)="onSubmit()">
          <z-form-field>
            <z-form-label [zRequired]="true">Email</z-form-label>
            <z-form-control>
              <input z-input type="email" formControlName="email" placeholder="name@zard.com" class="w-full" />
            </z-form-control>
          </z-form-field>

          <z-form-field>
            <div class="flex items-center justify-between">
              <z-form-label [zRequired]="true">Senha</z-form-label>
           
            </div>
            <z-form-control>
              <input z-input type="password" formControlName="password" placeholder="••••••••" class="w-full" />
            </z-form-control>
          </z-form-field>

       

          <button type="submit" z-button zFull [zLoading]="isLoading()" [disabled]="isLoading()">Entrar</button>
        </form>
      </z-card>

      <p class="text-center text-sm font-bold text-green-300 ">
        Não tem cadastro?
        <a z-button zType="link" href="/register" class="px-0 text-white">Crie sua conta</a>
      </p>
    </div>
  </div>
  
</div>
