<div class="h-screen flex justify-center items-center bg-gray-100">
  <div class="max-w-md w-full p-8 bg-white rounded-lg shadow-md">
    <h2 class="text-lg font-bold mb-4 text-cyan-500">Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2"
          >Email</label
        >
        <input
          id="email"
          type="email"
          class="input input-bordered block w-full p-2 pl-10"
          placeholder="example@example.com"
          [formControl]="email"
        />
      </div>

      <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2"
          >Password</label
        >
        <input
          id="password"
          type="password"
          class="input input-bordered block w-full p-2 pl-10"
          placeholder="********"
          [formControl]="password"
        />
      </div>
      <button type="submit" class="w-full p-2 btn btn-primary">Login</button>
    </form>
    <p class="text-sm text-gray-700 mt-4">
      Don't have an account?
      <a href="/register" class="text-blue-500 hover:text-blue-700">Register</a>
    </p>
  </div>
</div>
