<div class="container py-4" >
    <!-- Dropdown for Month/Year Selection -->
    <div class="row mb-3">
        <div class="col-md-12 d-flex justify-content-end">
          Filtrar por Mês/Ano:&nbsp;&nbsp;&nbsp;
            <select style="width: 150px!important;" [formControl]="monthYear" class="form-select w-auto bg-dark text-white border-light" (change)="loadData()">
             
              @for (reg of monthYears; track $index) {
                <option value="{{ reg.monthYear }}">{{ reg.monthYear }}</option>
            }
            </select>
        </div>
    </div>

    <div class="row g-3">
             
        <div class="col-md-6">
            <div class="card p-3" >
                <h5>Entradas</h5>
                <h3>{{totalIncome  | currency : "EUR" : "symbol"}}</h3>
                <div class="placeholder-chart"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-3">
                <h5>Despesas</h5>
                <h3>{{totalExpenses  | currency : "EUR" : "symbol"}}</h3>
                <div class="placeholder-chart"></div>
            </div>
        </div>
    </div>

    <div class="row g-3 mt-3">
        
      
        <div class="col-md-12">
            <div class="card p-3 ">
                <h5>Top 5 Despesas por Categoria</h5>
                <div class="placeholder-chart">
                     @if(chartOptions && chartOptions.series){
                        <apx-chart
                            [labels]="chartOptions.labels"
                            [series]="chartOptions.series"
                            [chart]="chartOptions.chart"
                            [title]="chartOptions.title"
                        >
                        </apx-chart>

                        }
                </div>
            </div>
        </div>
    </div>

    <div class="row g-3 mt-3">
        <!-- Evolution Chart and Summary -->
        <div class="col-md-12">
            <div class="card p-3">
                <h5>Evolução Mensal: Despesas vs Entradas</h5>
                <div class="placeholder-chart" >
                 <apx-chart
                            [series]="evolutionChartOptions.series"
                            [chart]="evolutionChartOptions.chart"
                            [title]="evolutionChartOptions.title"
                            [xaxis]="evolutionChartOptions.xaxis"
                            [yaxis]="evolutionChartOptions.yaxis"
                        >
                        </apx-chart>
                </div>
            </div>
        </div>
   
</div>

