<div class="flex justify-center items-center pb-10 pt-5">
  <div class="max-w-md w-full p-8 rounded-lg shadow-md">
    <div class="mb-4 col-4">
      <label for="category" class="form-label">Mes/Ano</label>

      <select
        id="category"
        class="form-select"
        [formControl]="monthYear"
        (change)="getChart()"
      >
        @for (reg of monthYears; track $index) {
        <option value="{{ reg.monthYear }}">{{ reg.monthYear }}</option>
        }
      </select>
    </div>
  </div>
</div>
@if(totalExpenses > 0) {
 <div class="card mt-3 col-4 mx-auto shadow">
    <div class="card-body text-center">
      <p class="card-text">Total de receitas: {{ totalIncome | currency : "EUR" : "symbol" }}</p>
    </div>
  </div>
  <div class="card mt-3 col-4 mx-auto shadow">
    <div class="card-body text-center">
      <p class="card-text">Total de despesas: {{ totalExpenses | currency : "EUR" : "symbol" }}</p>
    </div>
  </div>
}
<div style="text-align: center" class="row mt-10">
  @if(chartOptions && chartOptions.series){
  <apx-chart
    [labels]="chartOptions.labels"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [title]="chartOptions.title"
  >
  </apx-chart>

  }
</div>
