<div class="flex items-center justify-center ">
<z-card class="w-full max-w-3xl shadow-white shadow-2xl" [zTitle]="isEditing() ? 'Edit Category' : 'New Category' ">  
    
    <form (ngSubmit)="onsubmit()">
    <input type="hidden" formControlName="id">
     <div class=" gap-4">
        <z-form-field>
            <label z-form-label zRequired >Descrição</label>
            <z-form-control>
            <input z-input [formControl]="description" type="text" name="name"/>
        </z-form-control>
       </z-form-field>    
         <z-form-field class="pt-4">
            <label z-form-label zRequired >Valor</label>
           <z-form-control>
            <input z-input [formControl]="amount" type="text" name="name"/>
           </z-form-control>
      
       </z-form-field>     
       
        <z-form-field class="pt-4">
            <label z-form-label zRequired >Data</label>
           <z-form-control>
            <z-date-picker [value]="selectedDate()" placeholder="Pick a date" (dateChange)="onDateChange($event)" zFormat="dd/MM/yyyy" />
           </z-form-control>
      
       </z-form-field>
         <z-form-field class="pt-4">
            <label z-form-label zRequired >Categoria</label>
           <z-form-control>
              <z-select class="w-[300px]" zPlaceholder="Select a fruit" [(zValue)]="selectedCategory">
                @for (cat of categories; track $index) {
                 <z-select-item [zValue]="cat.description">{{cat.description}}</z-select-item>
                }
              </z-select>
           </z-form-control>
      
       </z-form-field>
       </div>
        <div class="button-group mt-3 flex items-center justify-center ">
             
            <button class="w-1/3" [zLoading]="isSubmiting()" z-button type="submit" >
                Save
            </button>
                       
            <button z-button zType="secondary" class="w-1/3 ml-3" (click)="gotoList()" >Cancel</button>          
        </div>
    </form>
</z-card>
</div>