<div class="d-flex align-items-center justify-content-center min-vh-100">
  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 30rem">
    <h2 class="text-lg font-bold mb-4 text-cyan-500">Criar Usuário</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2"
          >Email</label
        >
        <input
          id="email"
          type="email"
          class="input input-bordered block w-full p-2 pl-10"
          placeholder="example@example.com"
          [formControl]="email"
        />
      </div>
      @if(email.invalid && (email.dirty || email.touched)){
      <app-error-message>Preencha o e-mail</app-error-message>
      }
      <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2"
          >Password</label
        >
        <input
          id="password"
          type="password"
          class="input input-bordered block w-full p-2 pl-10"
          placeholder="********"
          [formControl]="password"
        />
      </div>
      @if(password.invalid && (password.dirty || password.touched)){
      <app-error-message>Preencha a senha</app-error-message>
      }
      <button type="submit" class="w-5/12 p-2 btn btn-primary">
        Criar usuário
      </button>
      <button
        type="button"
        class="w-5/12 p-2 btn btn-accent ml-3"
        (click)="gotoLogin()"
      >
        Cancelar
      </button>
    </form>
  </div>
</div>
