<div class="flex min-h-screen flex-col lg:flex-row">
  <div class="flex flex-1 items-center justify-center bg-slate-500 p-4 sm:p-8">
    <div class="w-full max-w-md space-y-6 sm:space-y-8">
      <div class="text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Financeiro</h1>
        <p class="mt-2 text-sm text-muted-foreground sm:text-base">Sign in to your account to continue</p>
      </div>

      <z-card class="p-4 sm:p-6 lg:p-8 shadow-xl shadow-black">
        <form [formGroup]="loginForm" class="space-y-4 sm:space-y-6" (ngSubmit)="onSubmit()">
          <z-form-field>
            <z-form-label [zRequired]="true">Email</z-form-label>
            <z-form-control>
              <input z-input type="email" formControlName="email" placeholder="name@zard.com" class="w-full" />
            </z-form-control>
          </z-form-field>

          <z-form-field>
            <div class="flex items-center justify-between">
              <z-form-label [zRequired]="true">Senha</z-form-label>
           
            </div>
            <z-form-control>
              <input z-input type="password" formControlName="password" placeholder="" class="w-full" />
            </z-form-control>
          </z-form-field>

       

          <button type="submit" class="w-2/6 ml-12" z-button  [zLoading]="isLoading()" [disabled]="isLoading()">Criar Conta</button>
          <button type="button" class="w-2/6 ml-3" z-button (click)="gotoLogin()" >Cancelar</button>
          
        </form>
      </z-card>

     
    </div>
  </div>
  
</div>
